/* Logo Wrapper */
.logo {
  display: flex;
  align-items: center;
  line-height: 1;
  text-decoration: none;
}

/* For larger screens (desktops) */
@media (min-width: 1200px) {
  .logo {
    width: 280px;
    
  }
}

/* Logo Image */
.logo img {
  max-height: 26px;
  margin-right: 6px;
}

/* Logo Text */
.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  margin-left: 4px; 
}
.toggle-sidebar-btn {
  margin-right: 10px; /* Adjust value as needed */
  font-size: 20px;     /* Optional for better sizing */
  
}

